<section>
    <h3>一、填空题</h3>
    <ol>
        <% for(var i = 0;i < allTopic.fill_in_blanks.length; i++) { %>
        <li>
            <label >
                <%= allTopic.fill_in_blanks[i].question %>
                <% for(var x =0;x < allTopic.fill_in_blanks[i].answer.length; x++) { %>
                <input type="text" name=<%= allTopic.fill_in_blanks[i].type + i %>
                <% if(allTopic.fill_in_blanks[i].input) { %>
                value=<%= Array.isArray(allTopic.fill_in_blanks[i].input)? allTopic.fill_in_blanks[i].input[x]: allTopic.fill_in_blanks[i].input %>
                        <% } %>>
                <% } %>
            </label>
        </li>
        <% } %>
    </ol>
</section>