<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">一、填空题</h3>
    </div>
    <div class="panel-body">
        <ol>
            <% for(var i = 0;i < topics.length; i++) { %>
            <li class="form-inline">
                <label>
                    <%= topics[i].question %>
                    <% for(var x = 0;x < topics[i].answer.length; x++) { %>
                    <input type="text" class="form-control" name=<%= topics[i].type + i %>
                    <% if(topics[i].input) { %>
                    value=<%= Array.isArray(topics[i].input) ? topics[i].input[x] : topics[i].input %>
                            <% } %>
                            >
                    <% } %>
                </label>
            </li>
            <% } %>
        </ol>
    </div>
</section>