<section>
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group col-lg-4">
                    <label>考试科目：&nbsp;<em>统一建模语言UML</em></label>
                </div>
                <div class="form-group col-lg-4">
                    <label>时间：&nbsp;<em>100 分钟</em></label>
                </div>
                <div class="form-group col-lg-4">
                    <label>得分：&nbsp;<span class="text-danger"><%= score %></span></label>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col-lg-4">
                    <label>班级：&nbsp;<input type="text" id="class_name" name="class_name" class="form-control" value=<%= class_name %>></label>
                </div>
                <div class="form-group col-lg-4">
                    <label>学号：&nbsp;<input type="text" id="id_number" name="id_number" class="form-control" value=<%= id_number %>></label>
                </div>
                <div class="form-group col-lg-4">
                    <label>姓名：&nbsp;<input type="text" id="student_name" name="student_name" class="form-control" value=<%= student_name %>></label>
                </div>
            </div>
        </div>
    </section>
</section>