<section>
    <section>
        <ul>
            <li>考试科目: <em>统一建模语言UML</em></li>
            <li>时间: <em>100 分钟</em></li>
            <li>得分：<%= score %></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><label>班级:<input type="text" name="class_name" value=<%= class_name %>></label></li>
            <li><label>学号:<input type="text" name="id_number" value=<%= id_number %>></label></li>
            <li><label>姓名:<input type="text" name="student_name" value=<%= student_name %>></label></li>
        </ul>
    </section>
</section>