<div class="modal fade" id="modal">
    <div class="modal-dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">警告！</h4>
            </div>
            <div class="modal-body">
                <p>有信息未填写，不得交卷！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">好吧我填就是</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->