<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">五 、简答题</h3>
    </div>
    <div class="panel-body">
    <ol>
        <% for(var i = 0;i < topics.length; i++) { %>
        <li>
            <p><%= topics[i].question %></p>
                <textarea name=<%= topics[i].type + i %>
                          cols="120" rows="8"><% if(topics[i].input) { %><%= topics[i].input %><% } %></textarea>
        </li>
        <% } %>
    </ol>
    </div>
</section>