<section>
    <h3>五 、简答题</h3>
    <ol>
        <% for(var i = 0;i < allTopic.subjective.length; i++) { %>
        <li>
            <p><%= allTopic.subjective[i].question %></p>
                <textarea name=<%= allTopic.subjective[i].type + i %>
                          cols="80" rows="10"><% if(allTopic.subjective[i].input) { %><%= allTopic.subjective[i].input %><% } %></textarea>
        </li>
        <% } %>
    </ol>
</section>